.float-right.mb-3
    a(href=`http://localhost:5000/${task.id}/delete` onclick="return confirm('Yakin mau dihapus?')" type="button" class="btn mr-2 btn-light font-weight-bold") Delete
    a(href=`http://localhost:5000/${task.id}/edit` type="button" class="btn btn-light font-weight-bold") Edit