extends layout

block content
    .row.justify-content-center.ml-0.mr-0
        .col-10
            .card.shadow
                .card-body
                    h3.card-title Edit Task
                    include components/task-form