extends ../layouts.pug

block content
    .row.justify-content-center.mt-5.ml-0.mr-0
        .col-8
            h3.font-weight-bold.text-white Edit Task
            .card(class="bg-transparent text-white p-3")
                include ../components/task-form.pug